@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: #F9F9FD;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #005C9E;
  padding: 25px 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

/* Nav-bar */

.nav-title button {
  background-color: transparent;
  border: none;

  cursor: pointer;

  color: #005C9E;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 600;

  padding-left: 1rem;
  padding: 1rem;
}

#sub-title {
  display: none;
  margin-top: -1rem;
  display: grid;
  padding-left: 1.5rem;
  grid-gap: 0.8rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

#btn-title:active {
  background-color: #005C9E;
  color: #ffffff;
}

#sub-title a {
  color: #005C9E;
  cursor: pointer;
  display: grid;
  padding: 0.4rem;
}

#sub-title .active{
    font-weight: bold;
}

#sub-title a:target {
  color: black;
}

nav {
  background-color: #ffffff;
  width: 137%;
  height: 100vh;
  box-shadow: 2px 0px 4px rgb(0 0 0 / 10%);
}

.nav-title {
  display: grid;
  grid-gap: 1rem;
  margin-top: 2rem;
}

.logo-container {
  padding-top: 1rem;
  text-align: center;
}

img {
  margin: auto;
  width: 155px;
}

.logout {
  display: block;
  margin-top: 14rem;
  display: flex;
  justify-content: center;
}

.logout a {
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 89%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
}