@import url('http://fonts.cdnfonts.com/css/amsi-pro-narw-ultra');
@import url('http://fonts.cdnfonts.com/css/amsipro-bold');
@import url('http://fonts.cdnfonts.com/css/amsipro-regular');
@import url('http://fonts.cdnfonts.com/css/amsipro-light');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    --primary-color: #0B62E7;
}


/**
 *  SideBar config
 */

 .navigation{
    border: 10px;
    border-left: 5px solid #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: 80vw 0 0 100vw #00000090;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    font-family: 'AmsiPro-Bold';

    width: 320px;
    transition: width 0.5S;
    visibility: hidden;
    z-index: 10000;
 }

 .navigation.active{
    visibility: visible;
 }

 .navigation .logo-container{
    margin: 21px;
}

 .navigation ul{
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
 }

 .navigation ul li {
    position: relative;
    list-style: none;
    width: 80%;

    border-radius: 20px;
 }

 .navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #324054;
 }

 .navigation ul li.active{
    background-color: #EFF6FF;
 }

 .navigation ul li.active a,
 .navigation ul li.active a i{
    color: #0B62E7 !important;
 }

 .navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
 }

 .navigation ul li a .icon i{
    font-size: 1.2em;
    color: #71839B;
 }

 .navigation ul li a .title{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
 }

 /**
  * Toogle
  */

  .sidebar-container{
    position: absolute;
    left: 5vw;
    top: 10%;

    display: flex;
    align-items: center;
    gap: 18px;

    color: #fff;
    z-index: 10000;
}

.sidebar-container i {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.sidebar-container i.open,
.sidebar-container.active i.close{
    display: block;
}

.sidebar-container i.close,
.sidebar-container.active i.open{
    display: none;
}

.sidebar-container.active i.close{
    position: fixed;
    margin-left: 25vw;
    z-index: 20000;
}

.sidebar-container.active p{
    display: none;
}

.sidebar-container p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 12px;
}

.sidebar-container b{
    font-family: 'AmsiPro-Bold', sans-serif;
    font-size: 18px;
}

/**
 *  Footer
 */

 .footer-section{
   background-color: #0B62E7;
   box-shadow: 0px -24px 29px rgba(11, 98, 231, 0.15);
   padding: 32px 64px;
}

.footer-section .footer-container{
   border-bottom: 1px solid #FFFFFF;

   display: flex;
   justify-content: space-between;
   gap: 32px;

   padding-bottom: 32px;
}

.footer-section .footer-container div{
   display: flex;
   flex-direction: column;
}

.footer-section .footer-container .logo-box img{
   width: 50%;
}

.footer-section .footer-container .title{
   color: #FFFFFF;
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   font-size: 14px;
}

.footer-section .footer-container .links-list{
   list-style-type: none;

   margin-left: -36px;
}

.footer-section .footer-container .link-item{
   margin-bottom: 14px;
}

.footer-section .footer-container .link-item a{
   color: #fff;
   font-weight: 300;
   font-family: 'Opens Sans', sans-serif;
   text-decoration: none;
}

.footer-section .footer-container .fifth-column{
   gap: 18px;
}

.footer-section .footer-container .fifth-column button{
   border: none;
   border-radius: 4px;

   font-family: 'Open Sans', sans-serif;
   font-weight: 600;

   padding: 10px 24px;
}

.footer-section .footer-container .fifth-column a.black-button{
   background-color: #1E1E1E;
   border-radius: 10px;
   color: #FFFFFF;

   font-family: 'AmsiPro-Regular', sans-serif;

   text-align: center;
   text-decoration: none;

   padding: 12px 24px;
}

.footer-section .footer-container .fifth-column a.white-button{
   background-color: #FFFFFF;
   border-radius: 10px;
   color: #0B62E7;

   font-family: 'AmsiPro-Regular', sans-serif;

   text-align: center;
   text-decoration: none;

   padding: 12px 24px;
}

.footer-section .rights-container{
   color: #FFFFFF;
   font-family: 'Open Sans', sans-serif;
   display: flex;
   justify-content: space-between;
   margin-top: 44px;
}

.footer-section .rights-container .links-box{
   display: flex;
   align-items: center;
}

.footer-section .rights-container .links-box ul{
   display: flex;
   align-items: center;
   gap: 18px;
   list-style-type: none;
}

.footer-section .rights-container .links-box .link-item img{
   width: 44px;
}